body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: 'Segoe UI';
  text-align: center;
}

.container {
  padding: 20px;
}

.topbar button, select {
  background: #1e293b;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.topbar button:hover {
  background: #334155;
}

#board {
  margin: 20px auto;
  display: grid;
  gap: 3px;
}

.cell {
  width: 32px;
  height: 32px;
  background: #1e293b;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.revealed {
  background: #334155;
}

.cell.mine {
  background: crimson;
}