body {
  text-align: center;
  font-family: Arial;
  background: #1e1e1e;
  color: white;
}

#board {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #444;
  background: #333;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.open {
  background: #bbb;
  color: black;
}

.cell.mine {
  background: red;
}
